*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html.body{
    width: 100%;
    height: 100%;
}
.body{
    width: 100vh;
    height: 100vh;
    

}
.page1{
    width: 100vw;
    height: 100vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(58, 65, 203);
    display: flex;
    justify-content: center;
    align-items: center;

}
.page3{
    width: 100vw;
    height: 100vh;
    background-color: rgb(195, 203, 76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background:linear-gradient(cyan,royalblue);

}